# Linear Regression

### Data Pre-Processing: What we have covered so far

> Data Exploration

> Imputing the missing values

> Treating the outliers

> Feature Engineering

> Feature Transformation

> Encoding

### Importing Libraries

In [0]:
#importing libraries 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

### Importing the data

In [26]:
data = pd.read_csv('train_cleaned.csv')
data.shape

(8523, 46)

In [27]:
data.head()

   Item_Weight  ...  Outlet_Type_Supermarket Type3
0         9.30  ...                              0
1         5.92  ...                              0
2        17.50  ...                              0
3        19.20  ...                              0
4         8.93  ...                              0

[5 rows x 46 columns]

### Segregating variables: Independent and Dependent Variables

In [28]:
#seperating independent and dependent variables
x = data.drop(['Item_Outlet_Sales'], axis=1)
y = data['Item_Outlet_Sales']
x.shape, y.shape

((8523, 45), (8523,))

### Scaling the data (Using Standard Scaler)

> Mandatory for KNN

##  $$x'= \frac{x - mean(x)}{\sigma}$$

In [0]:
## Importing the standard Scaler
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
data = ss.fit_transform(data)

In [0]:
# Importing the train test split function
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(x,y, random_state = 56)

### Implementing Linear Regression

In [0]:
#importing Linear Regression and metric mean square error
from sklearn.linear_model import LinearRegression as LR
from sklearn.metrics import mean_squared_error as mse

In [32]:
# Creating instance of Linear Regresssion
lr = LR()

# Fitting the model
lr.fit(train_x, train_y)

# Predicting over the Train Set and calculating error
train_predict = lr.predict(train_x)

k = mse(train_predict, train_y)
print('Training Mean Square Error', k )

# Predicting over the Train Set and calculating error
test_predict = lr.predict(test_x)
k = mse(test_predict, test_y)
print('Test Mean Square Error    ', k )

Training Mean Square Error 1218365.8937364144
Test Mean Square Error     1431952.446015078

### Parameters of Linear Regression

In [33]:
lr.coef_

array([ 1.78450035e-01, -3.84642222e+02,  1.54980674e+01, -1.84444754e+01,
       -3.78808067e+01,  3.31502849e+01,  4.06819896e+01,  4.76424149e+01,
       -8.35938826e+01,  2.81126002e+00, -1.19848265e+00, -1.57618523e+02,
        6.71387323e+01, -5.33492180e+01, -3.06556852e+01,  4.23212148e+01,
       -2.30260247e+01, -4.27876198e+01, -7.54301779e+01, -3.65824873e+00,
       -7.87129822e+01,  2.60470952e+02,  1.41600650e+01, -1.46932400e+01,
        9.42279781e+01, -4.64999137e+02, -5.51947683e+01,  1.53301072e+02,
       -4.68181522e+01, -4.71597876e+02,  5.87820902e+02,  1.24396682e+02,
       -8.80903933e+01,  3.17298874e+02, -5.61172040e+01, -5.51947683e+01,
        4.84885546e+02, -2.99023193e+01, -2.10416205e+02,  1.89607361e+02,
        2.08088447e+01, -9.36597012e+02,  3.95594262e+02, -4.68181522e+01,
        5.87820902e+02])